<nav class="slategray-bg">
    <div class="btn-close">
        <i class="icomoon icon-close"></i>
    </div>
    <div class="tab-container">
        <a class="tab">
            <i class="icomoon icon-dashboard"></i>
            <span>DASHBOARD</span>
        </a>
        <a class="tab">
            <i class="icomoon icon-sitemap"></i>
            <span>AGENT</span>
        </a>
        <a class="tab">
            <i class="icomoon icon-boat"></i>
            <span>MY CRUISE</span>
        </a>
        <a class="tab">
            <i class="icomoon icon-life-bouy"></i>
            <span>HELP</span>
        </a>
    </div>
</nav>