<div class="item white-bg" [ngClass]="agent.status">
    <app-os-icon [os]="agent.os"> </app-os-icon>
    <div class="column">
        <div class="row row-1">
            <div class="name light-cyan-text">
                <i class="icomoon icon-desktop i-16"></i>
                {{ agent.name }}
            </div>
            <div [ngClass]="agent.status" class="status white-text">
                {{agent.status }}
            </div>
            <div class="ip">
                <i class="icomoon icon-info i-16"></i>
                {{ agent.ip }}
            </div>
            <div class="location">
                <i class="icomoon icon-folder i-16"></i>
                {{ agent.location }}
            </div>
        </div>
        <div class="row row-2">
            <div class="btn-square btn-add popup btn-blue">
                <i class="icomoon icon-plus i-16 btn"></i>
                <!-- <PopupDialog :show="agent.id == agentShowPopUp" :id="agent.id" /> -->
            </div>
            <div *ngFor="let resource of agent.resources" class="btn-square btn-delete">
                {{ resource }}
                <i class="icomoon icon-trash i-16 btn" (click)="onDelete(resource)"></i>
            </div>
            <div *ngIf="agent.status==='building'" class="btn-square rightmost btn-blue btn">
                <i class="icomoon icon-deny white-text"></i>
                Deny
            </div>
        </div>
    </div>
</div>