<header class="white-bg">
    <div class="wrapper">
        <div class="container">
            <div class="avatar side bread">
                <i class="icomoon icon-navicon"> </i>
            </div>
            <div class="logo"><img src="../assets/logo/logo.svg" /></div>
            <div class="avatar side right">
                <img src="../assets/logo/avatar.jpg" />
                <i class="icomoon icon-angle-down"> </i>
                <ul class="dropdown">
                    <li>
                        <a><i class="icomoon icon-id-card"></i><span>Profile</span></a>
                    </li>
                    <li>
                        <a><i class="icomoon icon-sign-in"></i><span>Sign Out</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>